body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
    color: #333;
}

#image-preview, #preprocessed-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="file"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #218838;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    background-color: #0056b3;
}

#result {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #333;
}

p {
    color: #666;
}

nav {
    background-color: rgba(6, 108, 23, 0.64); /* Transparent background color */
    padding: 40px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    text-align: center;
    border-radius: 20px; /* Rounded corners */
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 20px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: rgba(19, 135, 39, 0.486); /* Darker background color on hover */
    color: #fff;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.mySlides {
    display: none;
}

.mySlides img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.prev-next-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.prev, .next {
    cursor: pointer;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
